<%- include('header'); -%>

    <div class='content'>
        <h1>
            <%= username %>
        </h1>
        <table>
            <tr>
                <td>
                    Client Number:
                </td>
                <td>
                    <%= clientNumber %>
                </td>
            </tr>
            <tr>
                <td>
                    Contact:
                </td>
                <td>
                    <%= contact%>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <%= addres %>
                </td>
            </tr>
            <tr>
                <td>
                    City:
                </td>
                <td>
                    <%= city %>
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    <%= phone %>
                </td>
            </tr>
        </table>
        <br>
    </div>

    <%- include('footer'); -%>